In [1]:
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
data = pd.read_csv('C:/Users/ADMIN/Documents/project/AcaBook/src/assets/data.csv')
data

,order_id,product_id,shipping_limit_date,price,freight_value,payment_sequential,payment_type,payment_installments,payment_value,product_category_name,...,order_status,order_purchase_timestamp,customer_unique_id,review_response_time,order_purchase_year,order_purchase_month,order_purchase_dayofweek,order_purchase_hour,order_purchase_day,order_purchase_mon
0,db68ee136b9cb2c16d74fa11a7395e5d,64d33e6bd1b905a31c2f96f584e6a0c8,3/20/2018 3:08,29.99,7.39,1,Boleto,1,37.38,Telephony,...,delivered,3/13/2018 9:45,0000b849f77a49e4a4ce2b2a4ca5be3f,1,2018,3,1,9,Tue,Mar
1,061b74bca735bb2c1953e40bc098101d,f8ea5fcf9c628485e01b9c3cf52728c2,12/1/2017 20:48,12.99,11.73,1,Credit Card,3,98.88,Furniture Decor,...,delivered,11/22/2017 20:40,0000b849f77a49e4a4ce2b2a4ca5be3f,1,2017,11,2,20,Wed,Nov
2,061b74bca735bb2c1953e40bc098101d,f8ea5fcf9c628485e01b9c3cf52728c2,12/1/2017 20:48,12.99,11.73,1,Credit Card,3,98.88,Furniture Decor,...,delivered,11/22/2017 20:40,0000b849f77a49e4a4ce2b2a4ca5be3f,1,2017,11,2,20,Wed,Nov
3,061b74bca735bb2c1953e40bc098101d,f8ea5fcf9c628485e01b9c3cf52728c2,12/1/2017 20:48,12.99,11.73,1,Credit Card,3,98.88,Furniture Decor,...,delivered,11/22/2017 20:40,0000b849f77a49e4a4ce2b2a4ca5be3f,1,2017,11,2,20,Wed,Nov
4,061b74bca735bb2c1953e40bc098101d,f8ea5fcf9c628485e01b9c3cf52728c2,12/1/2017 20:48,12.99,11.73,1,Credit Card,3,98.88,Furniture Decor,...,delivered,11/22/2017 20:40,0000b849f77a49e4a4ce2b2a4ca5be3f,1,2017,11,2,20,Wed,Nov
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49993,d9206b6df475ed69a1f7de7ecc2d9401,53b36df67ebb7c41585e8d54d6772e08,3/26/2018 3:10,115.00,18.69,1,Boleto,1,133.69,Watches Gifts,...,delivered,3/19/2018 10:17,6cc4314c23dcda2c625df58516cdd853,4,2018,3,0,10,Mon,Mar
49994,a00c2705f34c2a1714b0f36b80ba8fe1,0152cb427657428c06633fce6d721da4,2/23/2018 14:07,169.90,14.94,1,Credit Card,3,184.84,Food,...,delivered,2/19/2018 13:47,6cc4314c23dcda2c625df58516cdd853,1,2018,2,0,13,Mon,Feb
49995,954399f1952a1ac05b51b69077de29d1,c0704b7b41d23540e8576c5e84484dcb,2/8/2018 2:52,32.90,25.63,1,Boleto,1,58.53,Health Beauty,...,delivered,2/2/2018 1:37,6cc49dacefbda29910f00542b05a0031,2,2018,2,4,1,Fri,Feb
49996,12222b95d3464440506ffeede2239765,e70b02b0b99965f2ff4341de50a35c5d,5/11/2018 15:51,207.00,43.51,1,Credit Card,3,250.51,Furniture Decor,...,delivered,5/8/2018 15:43,6cc49dacefbda29910f00542b05a0031,3,2018,5,1,15,Tue,May
49997,d394b412b6d133b86365feb125056e5b,8844bd4b8ca8f93603694ca2bceb77e9,12/8/2017 4:38,84.99,13.15,1,Boleto,1,98.14,Health Beauty,...,delivered,11/30/2017 16:49,6cc75e31035a52366babb52c0f188cea,1,2017,11,3,16,Thu,Nov

In [ ]:
#drop duplicate rows
data = data.drop_duplicates()
data.to_csv('C:/Users/ADMIN/Documents/project/AcaBook/src/assets/data.csv')

:

In [2]:
import csv 
import json
import time

def csv_to_json(csvFilePath, jsonFilePath):
    jsonArray = []
      
    #read csv file
    with open(csvFilePath, encoding='utf-8') as csvf: 
        #load csv file data using csv library's dictionary reader
        csvReader = csv.DictReader(csvf) 

        #convert each csv row into python dict
        for row in csvReader: 
            #add this python dict to json array
            jsonArray.append(row)
  
    #convert python jsonArray to JSON String and write to file
    with open(jsonFilePath, 'w', encoding='utf-8') as jsonf: 
        jsonString = json.dumps(jsonArray, indent=4)
        jsonf.write(jsonString)
          
csvFilePath = 'C:/Users/ADMIN/Documents/project/AcaBook/src/assets/reviewdata.csv'
jsonFilePath = r'reviewdata.json'

start = time.perf_counter()
csv_to_json(csvFilePath, jsonFilePath)
finish = time.perf_counter()

print(f"Conversion 100.000 rows completed successfully in {finish - start:0.4f} seconds")

Conversion 100.000 rows completed successfully in 0.0305 seconds